/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

*{
    color: #fff;
}

html{
    display: flex;
    justify-content: center;
}

/* body{
    display: grid;
    justify-content: сутеук;
} */

#brightness{
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
}

#bg-container{
    /* position: static; */
    /* width: 10px; */
    z-index: -1;
    opacity: 1;
    /* overflow: hidden; */
}

@media (aspect-ratio > 9/16) {
    *{
        /* color: #f0f; */
    }
    body{
        width: 56.25vh;
        /* background: #fff; */
        border: 1px solid white;
        overflow: hidden;
    }
    body{
        transform: rotate(90);
    }
}

cards{
    overflow: hidden;
}

cards ul{
    overflow-x: hidden;
}

h1{
    color: hsl(350, 50%, 75%);

    display: flex;
    justify-content: center;

    font-family: 'Rubik Doodle Shadow';
    font-size: 5vh;
    
    text-align: center;
}

h1 img{
    color: hsl(350, 50%, 75%);
    width: max-content;
    height: 50px;
    filter:
    /* invert(100%) */
    /* brightness(0) */
    opacity(100%)
    drop-shadow(-1px -1px 10px hsl(350, 50%, 75%))
    /* drop-shadow(-1px 1px 10px hsl(350, 50%, 75%))
    drop-shadow(1px -1px 10px hsl(350, 50%, 75%)) */
    drop-shadow(1px 1px 10px hsl(350, 50%, 75%));
}

hr{
    margin: 10px;
}