*{
    color: #fff;
}

html{
    display: flex;
    justify-content: center;
}

#brightness{
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
}

#bg-container{
    /* position: static; */
    /* width: 10px; */
    z-index: -1;
    opacity: 1;
    /* overflow: hidden; */
}

@media (aspect-ratio > 9/16) {
    *{
        /* color: #f0f; */
    }
    body{
        width: 56.25vh;
        /* background: #fff; */
        border: 1px solid white;
        overflow: hidden;
    }
    body{
        transform: rotate(90);
    }
}

cards{
    overflow: hidden;
}

cards ul{
    overflow-x: hidden;
}

h1{
    font-size: 5vh;
    text-align: center;
}

hr{
    margin: 10px;
}