*{
    color: #fff;
}

#brightness{
    margin-left: 5vw;
    margin-top: 5vh;
    width: 90vw;
}

#bg-container{
    /* position: static; */
    /* width: 10px; */
    z-index: -1;
    opacity: 1;
    /* overflow: hidden; */
}