/* Background Container */
/* (Full-Screen Example) */
#background {
  position: absolute;
  inset: 0;
  z-index: -1;
}
/* (Preset Size Example) */
/* #background {
  position: relative;
  width: 300px;
  height: 150px;
} */

/* Background */
#bg {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -1;

  filter:
  grayscale(0.5)
  /* blur(.5px) */
  ;
}
